.Services {
  width: 100%;

  background-color: black;
  color: white;

  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  justify-items: center;
  align-items: center;

}

.Service {
  .Icon {
    width: 128px;
    height: 128px;
  }

  .Name {
    text-align: center;
  }
}