.Background {
  order: 1;

  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  
  .Video {
    z-index: -1;
    position: absolute;
    top: -300px;
    left: 0;

    width: 100%;
  }
} 