.ImageGallery {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    
    width: 100%;

  .Image {
    width: 100%;
    display: flex;

    img {
      border: 5px solid white;
      width:100%;
    }
  }
}