.Logo {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;    
  z-index: 10;
  
  .LogoImage {
    order: 1;

    width: 20em;
  }

  .LogoText {
    order: 2;

    font-size: 3em;
    margin: 0;
    color: white;
    margin-top: -45px;
  }

  .LogoSubtext {
    order: 3;

    font-size: 2.3em;
    margin: 0;
    color: white;

    margin-top: -10px;
  }
}

