.Background {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  
  .Video {
    width: 100%;
  }

  .Gradient {
    width: 100%;
    z-index: 2;

    &.GradientTop {
      background-image: linear-gradient(rgba(15, 92, 105, 0.75), rgba(15, 92, 105, 0));
      position: absolute;
      height: 480px;
    }

    &.GradientBottom {
      height: 200px;
      margin-top: -200px;
      background-image: linear-gradient(rgba(15, 92, 105, 0), rgba(15, 92, 105, 1));
    }
  }
} 